.video-nav {
  padding: 1rem;

  &__item {
    display: flex;
    flex-wrap: wrap;
  }
  &__title {
    color: black;
    text-decoration: none;
  }
  &__link {
    text-decoration: none;
  }
  &__thumbnail {
    width: 50%;
  }
}
